<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>Test</title>
</head>

<body>

Names: <span id="names"></span>
Emails: <span id="emails"></span>

<script type="text/javascript">
var name = document.getElementsByTagName("body")[0];
var email = document.getElementsByTagName("body")[1];

function updater() {
  fetch('/data')
  .then(response => response.text())
  .then(text => (names.innerHTML = text));  // update page with new data
}

setInterval(updater, 2000);  // run `updater()` every 1000ms (1s)
</script>

</body>

</html>


